@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@font-face {
  font-family: 'RubikSlantedP';
  src: url('../fonts/RubikSlantedP.otf')
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#left-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  background-color: #0B0C0C;

  transition: left 0s, top 1s ease-in-out;
}

#login-container {
  position: fixed;
  right: 10px;
  top: -7.5px;

  overflow: hidden;

  width: 50px;
  height: 55%;

  mix-blend-mode: difference;
  z-index: 3;
}

#login {
  transform: scale(1);

  width: auto;
  height: 155px;

}

#login-text {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10.5px;
  line-height: 12px;

  color: white;

  transform: rotate(-90deg);

  text-align: right;
  width: max-content;

  position: relative;
  top: 30px;
  left: -17.5px;

  transition: color .5s cubic-bezier(.49, .99, .62, .97);

}
#login:hover #login-text {
  color: rgba(255, 255, 255, 0.5);
}

#login-image {
  filter: invert(1);
}

#logo-container {
  width: auto;
  height: auto;
  position: fixed;
  top: 10px;
  left: 40px;

  color: white;
  mix-blend-mode: difference;
  z-index: 1000;
  display: flex;

  font-family: 'RubikSlantedP';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;

  opacity: 0;
  transition: opacity 1s ease-in-out, color 1s cubic-bezier(.49, .99, .62, .97);
}

#logo-other-container {
  overflow: hidden;
}

#logo-other {
  position: relative;
  left: -90%;

  transition: left .5s cubic-bezier(.49, .99, .62, .97);
}

#get-better-grades {
  transform: rotate(270deg);

  position: absolute;
  text-align: left;

  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #FFFFFF;

  left: 35px;
  top: 100px;

  z-index: 3;
}

.fadein {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#navbar {
  display: flex;
  position: absolute;
  top: 5px;
  right: 75px;

}

.navbar-item {
  margin-right: 4vw;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;

  mix-blend-mode: difference;
  color: white;

  transition: opacity .5s cubic-bezier(.49, .99, .62, .97);
  transform: translateY(-100px);

  position: relative;
  z-index: 3;
}

.navbar-item:hover {
  opacity: .5;
}

@keyframes bounce {
  0% {
    transform: scale(.9, 1.1) translateY(-100px);
  }

  25% {
    transform: scale(1.05, .95) translateY(0);
  }

  50% {
    transform: scale(1, 1) translateY(0);
  }

  75% {
    transform: scale(1, 1) translateY(0px);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}
#left-container {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#centraltextleft {
  font-size: 23vh;
  line-height: 20vh;
  position: absolute;
  color: #29F8E7;
  top: -7.5vh;
  width: 200%;

  transform: translateY(-1000px) perspective(1000px) rotateX(-12.25deg) rotateY(30deg);
  font-family: 'Teko';
  transition: left .04s ease-in-out, top .04s ease-in-out;
}
#right-container {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50vw;
  overflow: hidden;
}

#centraltextright {
  font-size: 23vh;
  line-height: 20vh;
  position: absolute;
  color: rgb(0, 0, 0);
  top: -7.5vh;
  left: -50vw;
  width: 200%;

  transform: translateY(-1000px) perspective(1000px) rotateX(-12.25deg) rotateY(-30deg);
  font-family: 'Teko';

  transition: left .04s ease-in-out, top .04s ease-in-out;
}
.centraltextitem {
  position: absolute;
}
#centraltextrightone {
    left: 19.25vw;
}
#centraltextrighttwo {
  left: 14vw;
}
#centraltextrightthree {
  left: 9vw;
}
#centraltextleftone {
  left: 19.25vw;
}
#centraltextlefttwo {
left: 14vw;
}
#centraltextleftthree {
left: 9vw;
}


#animator {
  position: relative;
  z-index: 3;
  pointer-events: none;
}

@keyframes bounceleft {
  0% {
    transform: scale(.9, 1.1) translateY(-1000px) perspective(1350px) rotateX(-12deg) rotateY(30deg);
  }

  25% {
    transform: scale(1.05, .95) translateY(0) perspective(1350px) rotateX(-12deg)rotateY(30deg);
  }

  50% {
    transform: scale(1, 1) translateY(-4px) perspective(1350px) rotateX(-12deg)  rotateY(30deg);
  }

  100% {
    transform: scale(1, 1) translateY(-4px) perspective(1350px) rotateX(-12deg) rotateY(30deg);
  }
}

@keyframes bounceright {
  0% {
    transform: scale(.9, 1.1) translateY(-1000px) perspective(1350px) rotateX(-12deg) rotateY(-30deg)
  }

  25% {
    transform: scale(1.05, .95) translateY(0) perspective(1350px) rotateX(-12deg)  rotateY(-30deg);
  }

  50% {
    transform: scale(1, 1) translateY(-4px) perspective(1350px) rotateX(-12deg) rotateY(-30deg);
  }

  100% {
    transform: scale(1, 1) translateY(-4px) perspective(1350px) rotateX(-12deg) rotateY(-30deg);
  }
}

#socials-fixed {
  position: fixed;
  top: calc(100vh - 75px);
  right: 22px;

  z-index: 3;
}
#socials-fixed {
  mix-blend-mode: difference;
}

#socials-text {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: right;

  color: white;
}

#instagram {
  width: 13px;
  filter: invert(1)
}
#facebook {
  width: 13px;
  margin-right: 20px;
  filter:invert(1)
}
#linkedin {
  width: 13px;
  margin-right: 20px;
  filter: invert(1)
}

.container{
  display: block;
  width: 100%;
  position: absolute;
  z-index: 500;
  mix-blend-mode: difference;
  top: 100vh;
}

.circular-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: absolute;
  right: calc(50vw - 112.5px);
  top: 81.5vh;
  z-index: 3;
  mix-blend-mode: difference;
}

.text{
  font-family: "Lexend";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

@keyframes spin {
   0% {
    transform: rotate(0deg);
  } 100%  {
    transform: rotate(360deg);
  }
}
.arrow{
  display: block;
  width: 35px;
  position: absolute;
}

.arrow svg{
  display: block;
  width: 100%;
  height: 100%;
  fill: white;
  animation: spin 40s linear infinite forwards;
}

#page-indicator {
  position: fixed;
  top: 90.5vh;
  left: 30px;
  z-index: 3;
  width: 32px;
}
#page-indicator-text {
  color: white;
  position: fixed;
  top: 86.5vh;
  left: 38px;
  transform: rotate(-90deg);
  font-family: "Lexend";
  font-size: 14px;

  transition: opacity .75s ease-in-out
}
#page-indicator-text2 {
  color: white;
  position: fixed;
  top: 86.5vh;
  left: 38px;
  transform: rotate(-90deg);
  font-family: "Lexend";
  font-size: 14px;
  opacity: 0;

  transition: opacity .75s ease-in-out
}

#S2 {
  position: absolute;
  top: 115vh;
  height: 100vh;
  width: 100vw;
}
#S2-head {
  position: absolute;
  top: 100px;
  left: 7vw;
  font-family: 'Lexend';
  font-size: 55px;
  line-height: 80px;
  color: #FFFFFF;
  z-index: 421;

  transition: opacity .75s ease-in-out, top .75s ease-out;
}
#S2-description {
  position: absolute;
  top: 150px;
  left: 7vw;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255,255,255,.5);

  transition: opacity .75s ease-in-out .05s, top .75s ease-out;
}
#S2-description span {
  color: rgba(255,255,255, 1);
}
 .slide {
	 --x: 0;
	 --y: 0;
	 --d: 50;
}
 .slide:hover {
	 transform: scale(1.025) translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
}
#Apple-slide {
  transition: transform 1s cubic-bezier(.11,.75,0,.94), top .75s ease-out .1s;
  top: 250px;
}
#Apple {
  transition: opacity .75s ease-in-out .1s;

}
.Apple-wrapper {
  background: linear-gradient(180deg, #1B2B3B 0%, rgba(27, 43, 59, 0) 100%);
  box-shadow: 0 0 15px 1px #1B2B3B;

}

 .slide__image {
	 --d: 20;
	 transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
}
 .slide__content {
	 --d: 60;
	 transform: translate(calc(var(--x) / var(--d) * -1px), calc(var(--y) / var(--d) * -1px));
}
 .slide {
	 align-items: center;
	 color: white;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 position: absolute;
	 text-align: center;
	 width: 15vw;
   height: 15vw;
	 z-index: 1;
   top: 200px;
   left: 7vw;
   transition: transform 1s cubic-bezier(.11,.75,0,.94);
}
 .slide:after {
	 content: '';
	 display: block;
	 padding-bottom: 100%;
}
 .slide__bg-wrapper {
	 border-radius: 1%;
	 height: 100%;
	 left: 0%;
	 overflow: hidden;
	 position: absolute;
	 top: 0%;
	 transition: transform 1s cubic-bezier(.11,.75,0,.94);
	 width: 100%;
   border-radius: 50px;
}
 .slide__bg {
	 --d: 20;
	 height: 110%;
	 left: -5%;
	 object-fit: cover;
	 pointer-events: none;
	 position: absolute;
	 top: -5%;
   transition: transform 1s cubic-bezier(.11,.75,0,.94);
	 user-select: none;
	 width: 110%;

}
 .slide__headline {
	 font-size: 8vmin;
	 font-weight: 600;
	 position: relative;
}
 .slide__content {
	 --d: 60;
	 align-items: center;
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 justify-content: center;
	 left: 0;
	 padding: 4vmin;
	 position: absolute;
	 top: 0;
	 transition: transform 1s cubic-bezier(.11,.75,0,.94);
	 width: 100%;

	 z-index: 1;
}
 .slide__content > * + * {
	 margin-top: 2rem;
}

.cube-title {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: left;
  left: 40px;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  max-width: 75%;

}
.cube-title-rating {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 29px;
  text-align: left;
  left: 40px;
  color: #FFFFFF;
  position: absolute;
  top: .5vw;
  max-width: 75%;

}
.cube-description {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  color: rgba(255,255,255,.8);
  position: absolute;
  top: 30px;
  left: 40px;
  max-width: 60%;
}
.cube-description-rating {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;

  color: rgba(255,255,255,.8);
  position: absolute;
  top: 2.25vw;
  left: 125px;
  max-width: 60%;
}
.cube-description-rating2 {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  color: rgba(255,255,255,.8);
  position: absolute;
  top: 5vw;
  left: 40px;
  max-width: 65%;
}

.cube-image {
  position: absolute;
  top: 16vh;
  left: 40px;
}

#Android {
  position: relative;
  top: calc(32.5vh + 50px);
  transition: transform 1s cubic-bezier(.11,.75,0,.94), opacity .75s ease-in-out .3s, top .75s ease-out .15s;
}
.Android-wrapper {
  background: linear-gradient(180deg, #32A9FB 0%, rgba(50, 169, 251, 0) 100%);
  box-shadow: 0 0 15px 1px #32A9FB;
}
.Android-wrapper {
  background: linear-gradient(180deg, #32A9FB 0%, rgba(50, 169, 251, 0) 100%);
}

#Register {
  position: relative;
  left: 17.5vw;
  transition: transform 1s cubic-bezier(.11,.75,0,.94), opacity .75s ease-in-out .3s;
}
#Register-slide {
  height: 31.5vw;
  width: 22vw;
  top: 200px;
  overflow: hidden;
  box-shadow: 0 0 15px 1px #20C078;
  border-radius: 50px;
  transition: top .75s ease-out .15s, transform 1s cubic-bezier(.11,.75,0,.94);
}
.cube-image-register {
  position: absolute;
  left: -17.5vw;
  bottom: -15vw;
  width: 80vw;
}
.cube-image-up {
  position: absolute;
  top: 110px;
  left: 30px;
  width: 50px;
}
#Slimmer {
  position: relative;
  left: 42vw;
  transition: transform 1s cubic-bezier(.11,.75,0,.94), opacity .75s ease-in-out .4s;

}
.Slimmer-wrapper {
  background: linear-gradient(180deg, #2C64F7 0%, rgba(44, 100, 247, 0) 100%);
}
#Slimmer-slide {
  overflow: hidden;
  box-shadow: 0 0 15px 1px #2C64F7;
  border-radius: 50px;
  transition: top .75s ease-out .2s, transform 1s cubic-bezier(.11,.75,0,.94);
}
#Review {
  position: relative;
  top: 32.5vh;
  left: 42vw;
  transition: transform 1s cubic-bezier(.11,.75,0,.94), opacity .75s ease-in-out .4s, top .75s ease-out .25s;
}
.cube-image-review {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 25vw;
}
.cube-image-stars {
  position: absolute;
  left: 125px;
  top: .85vw;
  width: 150px;
}
#Review-slide {
  overflow: hidden;
  width: 22.5vw;
  border-radius: 50px;
  box-shadow: 0 0 15px 1px #776CF9;

}
#Review-indicator {
  position: absolute;
  left: 72.5vw;
  bottom: 20%;
  transition: opacity .75s ease-in-out, top .75s ease-out .25s;
  opacity: 0 !important;

}
.indicator-circle {
  display: block;
  margin-bottom: 1.6vw;

}

.area{
  width: 100%;
  height: 150vh;
  position: absolute;
  transition: opacity .75s ease-in-out;
  transform: rotate(180deg);
  top: -20vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
.fadeinS2 {
  opacity: 0;
}
.perspective-text {
  color: #29F8E7;
  font-family: "Lexend";
  font-size: 75px;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: absolute;
  right: 5vw;
  top: 22.5vh;
  text-align: right;
  transition: opacity .75s ease-in-out .25s;
}
.perspective-line {
  height: 80px;
  overflow: hidden;
}
.perspective-item {
  margin: 0;
  height: 90px;
  line-height: 90px;
  transition: all 0.5s ease-in-out, transform .75s ease-in-out .25s;
}
.perspective-line:nth-child(odd) {
  transform: skew(-60deg, 30deg) scaleY(0.667) ;
  color: white;
}
.perspective-line:nth-child(even) {
  transform: skew(0deg, 30deg) scaleY(1.334)
}
.perspective-text:hover .perspective-item {
  transform: translate(0, -90px) !important;
}
.perspective-line:nth-child(1) {
  left: 29px;
}
.perspective-line:nth-child(2) {
  left: 58px;
}
.perspective-line:nth-child(3) {
  left: 87px;
}
.perspective-line:nth-child(4) {
  left: 116px;
}
.perspective-line:nth-child(5) {
  left: 145px;
}
